<div class="flex flex-wrap justify-between p-4">
  <!-- Green Widget with Image and Link -->
  <div class="widget bg-green-900 w-[325px] md:w-[300px] lg:w-[275px] xl:w-[250px] 2xl:w-[225px] h-auto text-white rounded-md m-2 shadow-md p-5 flex flex-col items-center">
    <div class="icon w-[100px] h-auto text-center mb-4">
       
    </div>
    <div class="value text-center w-full">
      <div class="top text-2xl mb-2">
        32
      </div>
      <div class="bottom text-lg">
        Locations
      </div>
      <div class="info mt-4 text-sm">
        Ouch & Spin is an elegant gym web application.
      </div>
    </div>
  </div>


  <div class="widget bg-green-900 w-[325px] md:w-[300px] lg:w-[275px] xl:w-[250px] 2xl:w-[225px] h-[175px] text-white rounded-md m-2 shadow-md p-5 flex items-center">
    <div class="icon w-[100px] text-6xl text-center">

    </div>
    <div class="value text-center w-[175px]">
      <div class="top text-2xl">
        295
      </div>
      <div class="bottom text-lg mt-2">
        Shops
      </div>
    </div>
  </div>

  <!-- Red Widget -->
  <div class="widget bg-red-800 w-[325px] md:w-[300px] lg:w-[275px] xl:w-[250px] 2xl:w-[225px] h-[175px] text-white rounded-md m-2 shadow-md p-5 flex items-center">
    <div class="icon w-[100px] text-6xl text-center">
      <!-- Icon content here -->
    </div>
    <div class="value text-center w-[175px]">
      <div class="top text-2xl">
        45784
      </div>
      <div class="bottom text-lg mt-2">
        Products Sold
      </div>
    </div>
  </div>

  <!-- Blue Widget -->
  <div class="widget bg-blue-700 w-[325px] md:w-[300px] lg:w-[275px] xl:w-[250px] 2xl:w-[225px] h-[175px] text-white rounded-md m-2 shadow-md p-5 flex items-center">
    <div class="icon w-[100px] text-6xl text-center">
      <!-- Icon content here -->
    </div>
    <div class="value text-center w-[175px]">
      <div class="top text-2xl">
        346928
      </div>
      <div class="bottom text-lg mt-2">
        Total Revenue
      </div>
    </div>
  </div>
</div>
