<div class="pt-10 items-center ">
  <a  href="/" class="block px-12 py-6 cursor-pointer hover:bg-[#012645] ">
    <fa-icon [icon]="faShop" title="Dashboard" class="  text-[22px]"></fa-icon>
    <span class="inline md:hidden">Dashboard</span>
  </a>
  <a  routerLink="/user-list" class="block px-12 py-6 cursor-pointer hover:bg-[#012645]  ">
    <fa-icon [icon]="faContactBook"  title="Users" class=" text-[22px]"></fa-icon>
    <span class="inline md:hidden">Users</span>
  </a>
  <a  routerLink="/Locations" class="block px-12 py-6 cursor-pointer hover:bg-[#012645]  ">
    <fa-icon [icon]="faLocation"  title="Locations" class=" text-[22px]"></fa-icon>
    <span class="inline md:hidden">Locations</span>
  </a>
  <a routerLink="/ContactForm" class="block px-12 py-6 cursor-pointer hover:bg-[#012645]">
    <fa-icon [icon]="faEnvelope"  title="Contact Form" class="  text-[22px]"></fa-icon>
    <span class="inline md:hidden">Contact Form</span>
  </a>

</div>


